# Auto-Pull when Git is clean
[ "$(git branch --show-current)" = "main" ] && git fetch origin main && [ -z "$(git status --porcelain)" ] && git merge origin/main || git status

[[ -z $IN_NIX_SHELL ]] && use flake "$(git rev-parse --show-toplevel)#default" --no-pure-eval
